.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2b2b;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.container-principal::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -1.6px;
    right: -1.6px;
    bottom: -2px;
    background: linear-gradient(45deg, #ff6be6, #6b6bff);
    border-radius: 16px;
    z-index: -1;
}


.form-style {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.titulo {
    font-size: 24px;
    color: #fff;
    margin-bottom: 16px;
}

.form-style label {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.form-style input {
    border-radius: 6px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 93%;
}

.form-style button {
    background-color: #8250f8;
    border: none;
    border-radius: 6px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.form-style button:hover {
    background-color: #5735a7;
}
